Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -clang-diagnostic-*,
  -clang-analyzer-*,
  -readability-function-cognitive-complexity,
  -performance-unnecessary-value-param,
  -readability-convert-member-functions-to-static,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -readability-identifier-length
HeaderFilterRegex: '^src/'
FormatStyle: none
