# Libraries
*.lvlibp
*.llb
*.venv*

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
**/__pycache__/
dist/
*.egg-info/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

data/
build/
log/
install/
tmp/

# Emacs
*~
*#*

detected_image*
raw_image*
experimental.py
result/
logs/
core.*
*.swp
*~
compile_commands.json
.dockerignore
