<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="end_effector" params="prefix parent *origin">

    <joint name="${prefix}end_effector_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}end_effector_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}end_effector_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://octa_ros/urdf/end_effector.stl" />
        </geometry>
        <material name="oct_end_effector">
          <color rgba="0.0 0.3 0.8 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://octa_ros/urdf/end_effector.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.00632 -0.04819 0.08954" rpy="0 0 0" />
        <mass value="0.4376"/>
        <inertia
          ixx="0.000563" ixy="0.0000074" ixz="0.000074" 
          iyy="0.000636" iyz="-0.000059" 
          izz="0.000322"/>
      </inertial>
    </link>

  </xacro:macro>

</robot>
